attrs==22.1.0
exceptiongroup==1.0.4
guidata==2.3.1
guiqwt==4.3.1
iniconfig==1.1.1
numpy==1.23.5
packaging==22.0
Pillow==9.3.0
pluggy==1.0.0
pyqt-tools==1.0.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt6==6.4.0
PyQt6-Qt6==6.4.1
PyQt6-sip==13.4.0
pytest==7.2.0
pytest-qt==4.2.0
PythonQwt==0.10.2
QtPy==2.3.0
scipy==1.9.3
tomli==2.0.1
